# Aurora Sleep Tracking

In [1]:
import pandas as pd

In [3]:
data = "../data/sleep.json"
sleep = pd.read_json(data)

In [4]:
sleep.head()

,babyid,duration,endDate,pk,note,startDate
0,1,0,1969-12-31T21:00:00.000-03:00,1468,NaN,2022-06-27T19:04:49.416-03:00
1,1,4418,2022-06-27T15:41:00.298-03:00,1463,NaN,2022-06-27T14:27:21.580-03:00
2,1,1747,2022-06-27T14:24:14.777-03:00,1461,NaN,2022-06-27T13:55:07.016-03:00
3,1,1639,2022-06-27T13:23:05.394-03:00,1459,NaN,2022-06-27T12:55:45.408-03:00
4,1,1419,2022-06-27T11:13:39.320-03:00,1457,NaN,2022-06-27T10:50:00.000-03:00